<h2>Recently added</h2>
<div>
    <% movies.forEach(movie => { %>
       <img height="150" width="100" src="<%=movie.posterImagePath%>" >
       <p><%=movie.title%></p>
       <p><%=movie.releaseDate%></p>
    <% }) %>
</div>