<header>
    <nav>
        <a href="/">MovieCatalog</a>
        <ul>
            <li>
                <b><a href="/movies">Movies</a></b>
            </li>
            <li>
                <a href="/movies/new">Add Movie</a>
            </li>
            <br />
            <li>
                <b><a href="/directors">Directors</a></b>
            </li>
            <li>
                <a href="/directors/new">Add Director</a>
            </li>
        </ul>
    </nav>
</header>